

.layout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.row{
    flex-basis: 100%;
    display: flex;
    
}

.cell{
flex-basis: 33.3%;
position: relative;
border: 1px solid black;
}

.cell-path{
    width: 100%;
    height: 100%;
    display: block;
    background-color: white;
}

.cell-block{
    width: 100%;
    height: 100%;
    display: block;
    background-color: blue;
}