@keyframes slideIn {
    0% {
        transform: translate(110%, -50%);
        opacity: 0;
    }

    100% {
        transform: translate(0%, -50%);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translate(0%, -50%);
        opacity: 1;
    }

    100% {
        transform: translate(110%, -50%);
        opacity: 0;
    }
}




#root {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.main {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: black;
    overflow: hidden;

}

.selection {

    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    height: fit-content;
    padding-bottom: 30px;
    width: 300px;
    z-index: 1;
    transform: translate(110%, -50%);
    opacity: 0;
    flex-direction: column;


}

.selection.active {

    animation: slideIn 250ms;
    transform: translate(0%, -50%);
    opacity: 1;
}

.selection.hidden {

    animation: slideOut 250ms;
    transform: translate(110%, -50%);
    opacity: 0;

}



.forms {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
    z-index: 2;
    padding: 0 10px;
    background: rgba(0, 0, 0, 1);
    box-shadow: -4px 0px 0px 0 rgba(51, 63, 231, 0.5);
    height: 100%;


}

.form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    padding: 20px;
}

.time-input,
.episode-input,
.learning-input,
.eps-input,
.eps-decay-input {
    display: flex;

    flex-wrap: nowrap;
    align-items: end;
    gap: 5px;
    margin-bottom: 10px;



    input {
        padding: 5px 10px;
        box-shadow: 2px 2px 0px 2px rgba(255, 255, 255, 0.5);
        outline: none;
        width: 70%;
    }

}

.input-values {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.add-button,
.sub-button {
    /* font-size: 2rem; */
    width: 35px;
    height: 35px;
    cursor: pointer;
    /* background-color: lightblue; */
    /* border-radius: 50%; */

    img {
        width: 35px;
        height: 35px;
        background-position: contain;
    }

    img:hover {
        transform: scale(0.95)
    }
}

.eps {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 100%;
}

.submit-container {

    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.submit-btn {

    padding: 3px 7px;
    align-items: center;
    box-shadow: 2px 1px 0px 0px rgba(255, 255, 255, 0.8);


}




.editMaze {

    display: flex;
    flex-direction: column;
    align-items: center;


}

.edit-checkbox button {
    padding: 10px;
    box-shadow: 2px 1px 0px 0px rgba(255, 255, 255, 0.5);
}


.maze-view {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-height: 80vh;
    width: 40vw;
    margin-top: 30px;


}




input[type=number]::-webkit-inner-spin-button {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


input[type=number] {
    height: 45px;
}

.footer {

    position: absolute;
    bottom: 0;
    width: 100%;

}

.footer ul {
    display: flex;
    gap: 30px;
    list-style: none;
    border-top: 1px solid rgb(0, 0, 137);
    padding: 10px 20px;
}

.footer li:hover {
    cursor: pointer;
    text-shadow:
        -1px -1px 0 blue,
        4px -1px 0 blue,
        -1px 1px 0 blue,
        1px 1px 0 blue;
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    pointer-events: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    pointer-events: none;
}

.response_modal {
    position: sticky;
    top: 0;
    width: fit-content;
    height: fit-content;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.response_modal.hide {
    display: none;
}


.loading-screen {
    z-index: 10000000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-message {
    margin-top: 30px;
}

.block-overlay {
    display: none;
}

@media (max-width:1150px) {
    .block-overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        background-color: black;
        z-index: 1000000;
    }
}