#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.main{

  display: flex;
  justify-content: start;  
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  background-color: black;
  
}

.selection{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  z-index: 1;
  height: 600px;
  width: 800px;
  display: flex;
  flex-direction: column;
  
}


.forms{

  display: flex;
  flex-direction: column;
  border-radius: 10px;
  z-index: 2;
  padding: 0 60px;
  background: rgba(0, 0, 0,1);
  box-shadow: 4px 5px 0 0 rgba(255,255,255, 0.5);


}

.form{

  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-top: 2rem;
  gap: 10px;
  padding: 20px;

}

.time-input,
.episode-input,
.learning-input,
.eps-input,
.eps-decay-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  margin-bottom:10px;

  input{
    padding: 5px 10px;
    box-shadow: 2px 2px 0px 2px rgba(255,255,255, 0.5);
    outline: none;
  }

}

.eps{
  display: flex;
  gap: 10px;
  flex-basis: 100%;
}

.submit-container{

  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.submit-btn{

  padding: 3px 7px;
  align-items: center;
  box-shadow: 2px 1px 0px 0px rgba(255,255,255, 0.8);
  

}




.editMaze{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.edit-checkbox button{
  padding: 10px;
  box-shadow: 2px 1px 0px 0px rgba(255,255,255, 0.5);
}


.maze-view{
  flex-basis: 100%;
  margin-block: auto;
  margin-left: auto;
  height: 450px;
  width: 500px;
}




input[type=number]::-webkit-inner-spin-button {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


input[type=number] {
height: 45px;
}

.footer{

  position: absolute;
  bottom: 0;
  width: 100%;

}

.footer ul{
  display: flex;
  gap: 30px;
  list-style: none;
  border-top: 1px solid rgb(0,0,137);
  padding: 10px 20px;
}

.footer li:hover{
  cursor: pointer;
  text-shadow:   
  -1px -1px 0 blue,  
  4px -1px 0 blue,
 -1px  1px 0 blue,
  1px  1px 0 blue;;
}
